body {
  background: #ddd !important;
}

.red.button, .red_background { background-color: #ae1a33 !important; }

#logo_container {
  padding: 5px;
  #logo { 
    max-width: 250px; 
    margin: 5px auto;
  }
}


