body {
  background: #ddd !important;
}

a, a:hover { color: black !important; }

.red.button, .red_background { background-color: #ae1a33 !important; }

#logo_container {
  padding: 5px;
  #logo { 
    max-width: 250px; 
    margin: 5px auto;
  }
}

#menu_container {
  margin-bottom: 0.875em;
  .right.menu { 
    .item:first-child { padding: 5px 10px; }
  }
}

#resource_cards {
  .resource .description { clear: none; }
}

#add_scraped_resource { margin: 0.875em 0; }

.view_and_votes {
  width: 110px;
  float: left;
  min-height: 140px;
  margin-right: 20px;
  .votes { 
    margin-top: 10px;
    button, input { padding: 0.5em !important; }
    button:first-child { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
    input { text-align: center !important; border-radius: 0px !important; }
  }
}

.experience_level_indicator {
  i:first-child { opacity: 0.3; }
  i:last-child {
    overflow: hidden;
    font-size: 1em !important;
  }
  .beginner_level { width: 0.2em; }
  .advanced_beginner_level { width: 0.4em; }
  .competent_level { width: 0.6em; }
  .proficient_level { width: 0.8em; }
  .expert_level { width: 1.0em; }
} 


