<div id="menu_container" class="ui container">
  <div class="ui menu">
    <div class="item">
      Levels
    </div>
    <div class="right menu">
      <div class="item">
        Filters
      </div>
    </div>
  </div>
</div>