<div id="menu_container" class="ui container">
  <div class="ui menu">
    <div class="item">
      <i class="large icons experience_level_indicator">
        <i class="signal icon"></i>
        <i class="bottom left corner signal icon experience_level_3"></i>
      </i>
    </div>
    <div class="right menu">
      <div class="item">
        <i class="large options icon"></i>
      </div>
    </div>
  </div>
</div>