<div id="menu_container">
  <div class="ui menu">
    <div class="item">
      <i class="large options icon"></i>
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui search">
          <div class="ui mini icon input">
            <input class="prompt" placeholder="Search..." type="text">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
      <div class="ui right dropdown item">
        Relevance
        <i class="dropdown icon"></i>
      </div>
    </div>
  </div>
</div>